server:
  error:
    whitelabel:
      enabled: false
  port: 8081

#logging:
#  level.: ERROR

spring:
  jmx:
    enabled: false
  main:
    banner-mode: 'off'
  resources:
    add-mappings: false
  mvc:
    throw-exception-if-no-handler-found: true
    favicon:
      enabled: false
    formcontent:
      putfilter:
        enabled: false

security:
  basic:
    realm: 'JAEX Authorization'
    authorize-mode: 'authenticated'
  user:
    name: 'jaex_client'
    password: 'jaex_client_password'
  sessions: 'stateless'
  ignored: '/error'


google:
  api:
    client_security_path: 'client_secret.json'
    client_token_store: 'client_token_store'


rules:
  - name: 'Town Pump'
    constraint:
      data:
        - row: 0
          column: 0
        - row: 0
          column: 5
        - row: 0
          column: 7
        - row: 0
          column: 12
      expression: |
        return data[0] =='VIN' && data[1] == 'Item UPC' && data[2] == 'Current Everyday Cost' && data[3] == 'Promo Cost'
    values:
      - start:
          row: 1
          column: 8
      - start:
          row: 1
          column: 9
      - start:
          row: 1
          column: 10
      - start:
          row: 1
          column: 11
      - start:
          row: 1
          column: 12
      - start:
          row: 1
          column: 13
csv:
  separator: ','
---
spring:
  profiles: heroku

google:
  api:
    client_token_store: '/app/client_token_store'
    client_security_path: '/app/client_secret.json'
