server:
  error:
    whitelabel:
      enabled: false

spring:
  jmx:
    enabled: false
  main:
    banner-mode: 'off'
  resources:
    add-mappings: false
  mvc:
    throw-exception-if-no-handler-found: true
    favicon:
      enabled: false
    formcontent:
      putfilter:
        enabled: false


google:
  api:
    client_security_path: '/client_secret.json'
    client_token_store: 'client_token_store'

---
spring:
  profiles: heroku

google:
  api:
    client_token_store: '/app/client_token_store'